.projectList {
  height: 100%;
  list-style: none;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.createButton {
  margin-top: 10px;
  padding: 10px 20px;
  transition: .3s all;
}

.createButton:hover {
  color: var(--textDark);
}

.projectList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px 20px;
}

.projectList li a {
  height: 100%;
  width: 100%;
}

.projectList li:hover {
  background: var(--text);
  color: var(--textDark);
  border-radius: 5px;
  transition: .3s all;
}

.link {
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
}

.activeItem {
  background: var(--background);
  color: var(--textDark);
  border-radius: 5px;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.form input, .form textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

.submitButton {
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.submitButton:hover {
  background-color: var(--background);
  color: var(--textDark);
}


.projectList .loader svg {
  margin: 0 auto;
  height: 100px;
  animation:spin 4s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--foreground);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  position: relative;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.divider {
  margin-top: 10px;
  height: 1px;
  width: 100%;
  background: var(--text);
}
